.gameTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.titleText {
    font-family: Stacked-pixel, monospace;
    font-size: 64px;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: 3px 3px 0 #8BAC0F,
    -2px -2px 0 #8BAC0F,
    2px -2px 0 #8BAC0F,
    -2px 2px 0 #8BAC0F;
    letter-spacing: 8px;
    white-space: nowrap;
}

.subtitleText {
    font-family: Stacked-pixel, monospace;
    font-size: 48px;
    color: #FFFFFF;
    text-shadow: 3px 3px 0 #8BAC0F,
    -2px -2px 0 #8BAC0F,
    2px -2px 0 #8BAC0F,
    -2px 2px 0 #8BAC0F;
    letter-spacing: 6px;
    white-space: nowrap;
    margin-top: -10px;
}