@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Stacked-pixel';
    src: url('/fonts/Stacked-pixel.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}


:root {
    background-color: #2d472c;
    background-image: url('/background-chip.png');
    background-repeat: repeat;
    background-position: 50% 0;
}

body {
    margin: 0;
    padding: 0;
}

@media (min-width: 1600px) {
    html {
        font-size: 18px;
    }
}

@media (min-width: 1920px) {
    html {
        font-size: 20px;
    }
}

@media (min-width: 2400px) {
    html {
        font-size: 22px;
    }
}