.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pixel-button {
  background-color: #E0F2F1;
  border: none;
  padding: 0;
  color: #00796B;
  cursor: pointer;
  position: relative;
  width: 60px;
  height: 60px;
  image-rendering: pixelated;
  box-shadow: 0 0 0 4px #E0F2F1,
  0 4px 0 4px #B2DFDB,
  4px 0 0 4px #B2DFDB,
  -4px 0 0 4px #80CBC4,
  0 -4px 0 4px #80CBC4,
  4px 4px 0 4px #4DB6AC;
  transition: all 0.1s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pixel-button:hover {
  background-color: #B2DFDB;
  box-shadow: 0 0 0 4px #B2DFDB,
  0 4px 0 4px #80CBC4,
  4px 0 0 4px #80CBC4,
  -4px 0 0 4px #4DB6AC,
  0 -4px 0 4px #4DB6AC,
  4px 4px 0 4px #009688;
}

.pixel-button:active {
  box-shadow: 0 0 0 4px #B2DFDB,
  0 4px 0 4px #80CBC4,
  inset 4px 4px 0 0 #4DB6AC;
  transform: translate(4px, 4px);
}

.pixel-button.on {
  background-color: #E1F5FE;
}

.pixel-button.on:hover {
  background-color: #B3E5FC;
}

.pixel-button.off {
  background-color: #F1F8E9;
}

.pixel-button.off:hover {
  background-color: #DCEDC8;
}