.poker-card-size {
  width: 50px;
  height: 70px;
}

.poker-card {
  border: 1px solid #000;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  background-color: #fff;
  cursor: pointer;
}

.rank {
  font-size: 16px;
}

.suit {
  font-size: 12px;
}

.joker {
  font-size: 16px;
  font-weight: bold;
  background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}